*{
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.panel{
    text-align: center;
}

.doping{
    fill: rgba(50,70,140, 0.5);
}
.no-doping{
    fill: orange;
}

.dot{
    stroke: black;
}

svg{
}
