*{
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.panel{
    text-align: center;
}
.y-label{
    font-size: 1.05rem;
}


.doping{
    fill: rgba(50,70,140, 0.5);
}
.no-doping{
    fill: orange;
}

.dot{
    stroke: black;
}
.invisible{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
#tooltip{
    position: absolute;
    background-color: rgba(66, 177, 232, 0.9);
    border-radius: 0.5rem;
    text-align: left;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    z-index: 1;
}
.legend-text{
    font-size: 0.75rem;
}
